{
        "dynamic": true,
        "properties": {
            "text": {
                "type":"text"
                },
            "id_str": {
               "type":"keyword"
               },
            "timestamp_ms": {
                "type": "date",
                "format": "epoch_millis"
                },
            "coordinates": {
                "type": "geo_point"
                }
          }

}